
.primary-color,
.primary-color.lighten-5 {
  background-color: #e3b200 !important;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e9efff;
  font-family: 'Gluten', cursive;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

main>.button{
  background-color: teal;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition-duration: 0.4s;
}

main>.button:hover {
  background-color: teal; 
  color: rgb(39, 190, 190);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#fridgeimage {
  display: grid;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.card, .card-content, .card-title {
  border-radius: 5px 5px 5px 5px !important;
  background-color: rgb(217, 227, 255);
}

.card-action {
  padding: 5px !important;
  background-color: transparent !important;
  border-top: transparent !important;
  vertical-align: middle !important;
 }

.btn {
  background-color: #2196f3;
  font-family: 'Gluten', cursive;
 }

 .btn:hover {
      background-color: #213f59;

    }

#intro {
  text-align: center;
}

.datepicker-date-display {
  /* Change input field background color */
  background-color: rgb(111, 175, 235);
  /* Change input text color */
  color: #333;
}

td.is-today.is-selected {
  /* Change input field background color */
  background-color: rgb(111, 175, 235);
  /* Change input text color */
  color: #333;
}

.timepicker-digital-display {
  /* Change input field background color */
  background-color: rgb(111, 175, 235);
  /* Change input text color */
  color: #333;
}

/* div.timepicker-tick {
  background-color: rgb(111, 175, 235);
  color: #333;
} */



