{% extends 'base.html' %}
{% block content %}

<h1>Perishable Item Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ perishable.name }}</span>
        <p>Category: {{ perishable.get_category_display }}</p>
        <p>Purchased from: {{ perishable.store_name }}</p>
        <p>Price: ${{ perishable.price }}</p>
        <p>Expires: {{ perishable.expiration }}</p>
        <p>{{ reminder.description }}<p>
        {% for reminder in perishable.reminder_set.all %}
       
        <p>Reminder: {{ perishable.get_reminder_display }}</p>
        <p>{{reminder.date}}<p>
      
        {% endfor %}

      </div>
      <div class="card-action">
        <a href="{% url 'perishables_update' perishable.id %}">Edit</a>
        <a href="{% url 'perishables_delete' perishable.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>

  <!-------------------------- ADD RECEIPT BUTTON  ------------------------------>
<div class="row">
  <div class="col s2">
    <div class="card">
    <div><a class="btn-floating btn-large halfway-fab waves-effect waves-light blue" style="font-size: large;"
         href="{% url 'receipt_create' %}">+ 🧾 </a></div>
        </div>
      </div>

<!-------------------------- ADD REMINDER MODAL BUTTON  ------------------------------>

  <!-- Modal Button -->
<div class="col s2">
    <div class="card">
  <!-- Modal Trigger -->
    <a class="btn-floating btn-large halfway-fab waves-effect waves-light btn modal-trigger blue" style="font-size: large;" href="#myModal">+ 📅</a>
  </div>
</div>

  <!-- Modal Structure -->
<div id="myModal" class="modal">
  <div class="modal-content">
      <h4>Add a Reminder</h4>
          <!-- ModelForm goes here -->
          <form action="{% url 'reminders_create' %}" method="POST">
            <!-- <form  action="{% url 'reminders_create' %}" method="POST"> -->
              {% csrf_token %}
              <!-- {{ form.as_p }} -->
                  <div class="input-field">
                    <input type="text" name="name" placeholder="{{ perishable.name}}">
                    <label for="name">Name:</label>
                  </div>
                  <div class="input-field">
                    <input type="text" name="description" placeholder="description of reminder">
                    <label for="field1">Description:</label>
                  </div>
                  <div class="input-field">
                    <input type="date" name="date" placeholder="date of reminder">
                    <label for="field1">Date:</label>
                  </div>
                  <div class="input-field">
                    <input type="time" name="time" placeholder="time of reminder">
                    <label for="field1">Time:</label>
                  </div>
                  <div class="input-field">
                    <input type="email" name="send_to_email" placeholder="enter your email">
                    <label for="field2">Send to email:</label>
                  </div>
                  <button type="submit" class="btn btn-primary">Add</button>
              </form>
         <!-- </div> -->
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>  
  <!-- End of Modal Structure -->



<script>
document.addEventListener('DOMContentLoaded', function () {
  const modal = document.getElementById('myModal');
  const instance = M.Modal.init(modal);
});

document.addEventListener('DOMContentLoaded', function () {
  const modal = document.getElementById('myModaltest');
  const instance = M.Modal.init(modal);
});



const dateEl = document.getElementById('id_date');
M.Datepicker.init(dateEl, {
  format: 'yyyy-mm-dd',
  defaultDate: new Date(),
  setDefaultDate: true,
  autoClose: true
});

const timeEl = document.getElementById('id_time');
M.Timepicker.init(timeEl, {
  defaultTime: '06:00',
  autoClose: true,
  twelveHour: false
});

</script>
{% endblock %}