{% extends 'base.html' %}
{% block content %}

<h1>Reminder List</h1>

{% for reminder in reminder_list %}
  <div class="card">
    <a href="{% url 'reminders_detail' reminder.id %}">
      <div class="card-content">
        <span class="card-title">{{ reminder.name }}</span>
        <p>{{ reminder.date|date:"l, F d,  Y" }} at {{ reminder.time }}</p>
        <p>Sending email to {{ reminder.send_to_email }}</p>
        <br>
        <p>Description:</p>
        <p>{{ reminder.description }}</p>
      </div>
    </a>
  </div>
  <div>

  </div>
{% endfor %}

{% endblock %}