{% extends 'base.html' %}
{% block content %}

<h1>Reminder List</h1>

{% for reminder in reminder_list %}
  <div class="card">
      <div class="card-content">
          <span class="card-title">{{ reminder.name }}</span>
          <p>Type: {{ reminder.get_type_display }}</p>
          <p>Date: {{ reminder.date|date:"l, F d,  Y" }}</p>
          <p>Remind Prio By: {{ reminder.remind_days_prio_by }} Days</p>
          <p>Remind Time: {{ reminder.get_remind_time_display }}</p>
          <p>Send to this Email: {{ reminder.send_to_email }}</p>
          <p>Time Zone: {{ reminder.get_time_zone_display }}</p>
        </div>
        
        <div class="card-action">
          <a href="{% url 'reminders_detail' reminder.id %}">Edit</a>
          <a href="{% url 'reminders_delete' reminder.id %}">Delete</a>
        </div>
  </div>
{% endfor %}

{% endblock %}