{% extends 'base.html' %}
{% block content %}
<h1>Perishables List</h1>


<div class="col s2">
  <div class="card">
    <div><a class="btn-floating btn-large halfway-fab waves-effect waves-light blue" style="font-size: x-large;"
        href="{% url 'perishables_create' %}"> + </a></div>
  </div>
</div>




{% for perishable in perishable_list %}
  <a href="{% url 'perishables_detail' perishable.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title"> {{ perishable.name }} {{ perishable.get_emoji }}</span>
        </div>
    </div>
  </a>
{% endfor %}


{% endblock %}