{% extends 'base.html' %}

{% block content %}
  {% if object %}
    <h1>Edit <span class="blue-text">{{object.name}}</span></h1>
  {% else %}
    <h1>Add Reminder</h1>
  {% endif %}
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <form action="" method="post">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <table>
      <!-- Render the inputs inside of <tr>s & <td>s -->
      {{ form.as_table }}
    </table>
    <a class="btn tooltipped" data-position="bottom" data-tooltip="Please send an email to <a>forget.me.no.sei.620@gmail.com</a> to be added to the list of verified emails.  Thank you!">Click to Copy email!</a>
    <input type="submit" value="Submit" class="btn">
  </form>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const timeEl = document.getElementById('id_time');
  M.Timepicker.init(timeEl, {
    defaultTime: '06:00',
    autoClose: true,
    twelveHour: false
  });

  $(document).ready(function(){
    $('.tooltipped').tooltip({
      exitDelay: 1000
    });
    $('.tooltipped').on('click', function(e){
    e.preventDefault(); // Prevent the default link behavior

    var textToCopy = "forget.me.no.sei.620@gmail.com";

    // Create a temporary textarea element to hold the text
    var $temp = $("<textarea>");
    $("body").append($temp);
    $temp.val(textToCopy).select();

    // Execute the copy command
    document.execCommand('copy');

    // Remove the temporary textarea element
    $temp.remove();
  });
  });
</script>
{% endblock %}
