{% extends 'base.html' %}
{% block content %}

<h1>Reminder Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ reminder.name }}</span>
        <p>{{ reminder.date|date:"l, F d,  Y" }} at {{ reminder.time }}</p>
        <p>Sending email to {{ reminder.send_to_email }}</p>
        <br>
        <p>Description:</p>
        <p>{{ reminder.description }}</p>
        <p>Perishables:</p>
        {% for perishable in reminder.perishable_set.all %}
        <p><a href="{% url 'perishables_detail' perishable.id %}">{{ perishable.name }}</a> {{ perishable.get_emoji }}</p>
        {% empty %}
        <p>No Perishables Yet!</p>
        {% endfor %}
      </div>
      <div class="card-action">
        <a href="{% url 'reminders_update' reminder.id %}">Edit</a>
        <a href="{% url 'reminders_delete' reminder.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Choose Perishables</span>
        <form action="{% url 'add_remove_perish' object.id %}" method="post">
          {% csrf_token %}
          <div class="input-field col s12">
            <select name="perishables_list" multiple>
              <option value="" disabled>Choose your perishables</option>
              {% for perishable in perishables %}
                <option value="{{ perishable.id }}" {% if perishable in object.perishable_set.all %}selected{% endif %}>{{ perishable.name }} {{ perishable.get_emoji }}</option>
              {% endfor %}
            </select>            
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Add/Remove
          </button>
        </form>
      </div>
    </div>
  </div>
</div>




<script>
      $('select').formSelect();
</script>
{% endblock %}