{% extends 'base.html' %}
{% block content %}

<h1>Reminder Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ reminder.name }}</span>
        <p>{{ reminder.date|date:"l, F d,  Y" }} at {{ reminder.time }}</p>
        <p>Sending email to {{ reminder.send_to_email }}</p>
        <br>
        <p>Description:</p>
        <p>{{ reminder.description }}</p>
        <br>
        <p>Perishables:</p>
        {% for perishable in reminder.perishable_set.all %}
        <p>{{ perishable.name }} {{ perishable.get_emoji }}</p>
        {% empty %}
        <p>No Perishables Yet!</p>
        {% endfor %}
        </ul>
      </div>
      <div class="card-action">
        <a href="{% url 'reminders_update' reminder.id %}">Edit</a>
        <a href="{% url 'reminders_delete' reminder.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
<!-- add perishables -->
{% endblock %}